body{
    background-color: #3498DB;
}
.episodesContainer{
    display: flex;
    flex-wrap: wrap;
    width:80%;
    margin:0 auto ;
    margin-top:20px;
    justify-content: center;
}

.searchBar{
    margin:10px auto;
    width:60%;
    border-radius: 5px;
    padding:10px;
}